html{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #d3c0c0;
    font-family: Arial, sans-serif;
  }

body{
    background-color: #d3c0c0;
}

.big{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px #000000;
    opacity: 1;
    
    margin: auto;
    width: 700px;
}

.medium{
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px #000000;
    opacity: 1;
    
    margin: auto;
    width: 700px;
}

.projects{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #e8dcdc;
    font-family: Arial, sans-serif;

    width:600px;
}

.ptitle{
    font-size: 30px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px #000000;
    opacity: 1;
}

.pbody{
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px #000000;
    opacity: 1;
}